<div class="container">
  <div class="row m-3 pl-3">
    <h4 class="col-lg-2 offset-1 bg-light text-center">マイページ</h4>
  </div>
  <div class="row m-3">
    <div class="col-lg-4 d-flex text-left p-0">
      <h4 class="font-weight-bold">登録情報</h4>
      <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success ml-5" %>
    </div>
  </div>

  <div class="row">
    <div class="col-8 ml-3">
      <table class="table border-dark table-bordered">
        <tbody>
          <tr>
            <th class="table-active col-lg-3">氏名</th>
            <td>
              <%= @customer.last_name + @customer.first_name %>
            </td>
          <tr>
            <th class="table-active">カナ</th>
            <td>
              <%= @customer.last_name_kana + @customer.first_name_kana %>
            </td>
          </tr>
          <tr>
            <th class="table-active">郵便番号</th>
            <td>
               <%= @customer.postal_code %>
            </td>
          </tr>
          <tr>
            <th class="table-active">住所</th>
            <td>
              <%= @customer.address %>
            </td>
          </tr>
          <tr>
            <th class="table-active">電話番号</th>
            <td>
              <%= @customer.telephone_number %>
            </td>
          </tr>
          <tr>
            <th class="table-active">メールアドレス</th>
            <td>
              <%= @customer.email %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-lg-4 d-flex text-left p-0">
      <h4 class="font-weight-bold mr-4">配送先</h4>
      <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary ml-5" %>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-lg-3 d-flex text-left p-0">
      <h4 class="font-weight-bold">注文履歴</h4>
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary ml-5" %>
    </div>
  </div>
