<h2>商品編集</h2>

<%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
  <label>商品画像</label>
  <%= f.file_field :image, accept: "image/*" %>
  <label>商品名</label>
  <%= f.text_field :name %>
  <label>商品説明</label>
  <%= f.text_area :introduction %>
  <label>ジャンル</label>
  <%= f.collection_select(:genre_id, @genres, :id, :name) %>
  <label>税抜価格</label>
  <%= f.text_field :price %>円
  <label>販売ステータス</label>
  <%= f.radio_button :is_active, :true %>
  <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>

  <%= f.submit '変更を保存' %>
<% end %>