<div class="container">
  <div class="row mx-auto">
    <h3 class="col-lg-3 bg-light m-4 text-center">管理者ログイン</h3>
  </div>
  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="col-lg-12">
        <tbody>
          <tr class="mx-auto">
            <td class="col-lg-3"><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"rounded col-lg-5" %></td>
          </tr>
          <tr class="mx-auto">
            <td class="col-lg-3"><%= f.label :password, "パスワード" %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", class:"rounded col-lg-5 mt-3" %></td>
          </tr>
          <tr>
            <td><%= f.submit "ログイン", class: "btn btn-primary btn-lg" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>