<div class="container">
  <div class="row m-3">
    <div class="col-lg-10">
      <h3 class="col-lg-5 bg-light text-center"><%= (@customer.last_name + @customer.first_name) %>さんの会員情報編集</h3>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-12">
        <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
        <table class="col-lg-10">
          <tbody>
            <tr>
              <td>会員ID</td>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <td>氏名</td>
              <td><%= f.text_field :last_name, required: true, class:"rounded" %></td>
              <td><%= f.text_field :first_name, required: true, class:"rounded" %></td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :last_name_kana, required: true, class:"rounded" %></td>
              <td><%= f.text_field :first_name_kana, required: true, class:"rounded" %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= f.text_field :postal_code, required: true, class:"rounded" %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address, required: true, class:"rounded" %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= f.text_field :telephone_number, required: true, class:"rounded" %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email, required: true, class:"rounded" %></td>
            </tr>
            <tr>
              <td>会員ステータス</td>
              <td>
                <%= f.radio_button :is_deleted, :false %>
                <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block"} %>
              </td>
              <td>
                <%= f.radio_button :is_deleted, :true %>
                <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block"} %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="m-3"> <%= f.submit '変更を保存', class: "btn btn-success btn-lg" %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
</div>
