<div class="container">
  <div class="row m-3">
    <div class="col-lg-5 offset-1">
      <h4 class="col-lg-4 bg-light text-center">会員一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
    <table class="table">
      <thead>
        <tr class="bg-light">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name %>
                <%= customer.first_name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
              <% if customer.is_deleted == false %>
                <td class="text-success font-width-bold">有効</td>
              <% else %>
                <td class="text-secondary font-width-bold">退会</td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


