<h3>配送先編集</h3>

<%= form_with model: @address, url: address_path, method: :patch do |f| %>

  <div class="field">
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.submit "変更内容を保存", class: "btn btn-success" %>
  </div>
<% end %>