<div class=""></div>
      <h4>新規会員登録</h4>

     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

          <div class="field">
            <label>名前</label>
            <%= f.label :last_name, "(姓)" %>
            <%= f.text_field :last_name, required: true %>
            <%= f.label :first_name, "(名)" %>
            <%= f.text_field :first_name, required: true %>
          </div>

          <div class="field">
            <label>フリガナ</label>
            <%= f.label :last_name_kana, "(セイ)" %>
            <%= f.text_field :last_name_kana, required: true %>
            <%= f.label :first_name_kana, "(メイ)" %>
            <%= f.text_field :first_name_kana, required: true %>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :postal_code, "郵便番号" %>
            <%= f.text_field :postal_code, required: true %>
          </div>

          <div class="field">
            <%= f.label :address %>
            <%= f.text_field :address, required: true %>
          </div>

          <div class="field">
            <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
            <%= f.text_field :telephone_number, required: true %>
          </div>

        <div class="field">
          <%= f.label :password, "パスワード(６文字以上)" %>
          <% if @minimum_password_length %>

          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード(確認用)"%>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規会員登録", class: "btn btn-lg btn-success mt-2" %>
        </div>
      <% end %>

      <h4>既に登録済みの方</h4>
      <%= render "public/shared/links" %>

    </div>
  </div>




</div>