<div class="container">
    <div class="row md-3">
        <div class="col-8 ottset-1">
            <h4 class="pt-3">注文情報確認</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価（税込）</th>
                        <th>数量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <% @sum = 0 %>
                    <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td>
                            <%= image_tag cart_item.item.get_image(50,50) %>
                            <%= cart_item.item.name %>
                        </td>
                        <td><%= cart_item.item.with_tax_price %></td>
                        <td><%= cart_item.amount %></td>
                        <td><%= cart_item.subtotal %></td>
                        <% @sum += cart_item.subtotal %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="col-3">
        <%= form_with model: @order, url: orders_path, method: :post do |f| %>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="col">送料</th>
                        <td>
                            <%= @order.shipping_cost.to_s(:delimited) %>
                            <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">商品合計</th>
                        <td><%= @sum.to_s(:delimited) %></td>
                    </tr>
                    <tr>
                        <th scope="col">請求金額</th>
                        <td>
                            <%= @order.total_payment = @sum + @order.shipping_cost %>
                            <% @order.total_payment %>
                            <%= f.hidden_field :total_payment, :value => @order.total_payment %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-11">
            <tabel class="tabel tabel-borderless">
                <tr>
                    <th class="col-1">支払方法</th>
                </tf>
                    <td class="col-10"><%= @order.payment_method_i18n %></td>
                    <%= f.hidden_field :payment_method, :value => @order.payment_method %></br>
                <tr>
                    <th class="col-1">お届け先</th>
                    <td class="col-10">
                        〒<%= @order.postal_code %>
                        <%= f.hidden_field :postal_code, :value => @order.postal_code %>
                        <%= @order.address %>
                        <%= f.hidden_field :address, :value => @order.address %></br>
                        <%= @order.name %>
                        <%= f.hidden_field :name, :value => @order.name %>
                    </td>
                </tr>
            </tabel>
        </div>
    </div>
    <div class="text-center">
        <%= f.submit "注文を確定する", class: "btn btn-success" %>
    </div>
        <% end %>
</div>

