<div class="container">
  <dev class="row m-3">
    <h3>注文履歴一覧</h3>
  </div>
  <div class="row mx-5">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-light">
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td class="align-middle">
            <%= order.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td class="align-middle">
            〒<%= order.postal_code %></br>
            <%= order.address %></br>
            <%= order.name %>
          </td>
          <td class="align-middle">
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %>
            <% end %>
          </td>
          <td class="align-middle">
           <%= order.total_payment %>円
          </td>
          <td class="align-middle"><%= order.status_i18n %></td>
          <td class="align-middle text-center">
            <%= link_to "表示する", order_path(order.id), class: 'btn btn-primary' %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>