<div class="container">
  <div class="row m-4">
    <h3 class="col-lg-3 text-center bg-light">注文情報入力</h3>
  </div>
  <div class="row">
    <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
      <p class="h4 font-weight-bold col-lg-2 mt-3">支払方法</p>
      <table>
        <tbody>
          <tr>
            <th class="col-lg-1 "><%= f.radio_button :payment_method, Order.payment_methods.key(0) %></th>
            <td><%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %></td>
          </tr>
          <tr>
            <th class="col-lg-1"><%= f.radio_button :payment_method, Order.payment_methods.key(1) %></th>
            <td><%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %></td>
          </tr>
        </tbody>
      </table>
      <p class="h4 font-weight-bold col-lg-2 mt-3">お届け先</p>
      <table class=" col-lg-10">
        <tbody>
          <tr>
            <td class="col-lg-1"><%= f.radio_button :select_address, '0' %></td>
            <td><%= f.label :customer_id, "ご自身の住所", {value: '0', style: "display: inline-block;"} %></td>
            <td>
              〒<%= current_customer.postal_code %>
              <%= current_customer.address %>
              <%= current_customer.last_name %><%= current_customer.first_name %>
            </td>
          </tr>
          <tr>
            <td class="col-lg-1"><%= f.radio_button :select_address, '1' %></td>
            <td><%= f.label :address_id, "登録済み住所から選択", {value: '1', style: "display: inline-block;"} %></td>
            <td><%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %></td>
          </tr>
          <tr>
            <td class="col-lg-1"><%= f.radio_button :select_address, '2' %></td>
            <td><%= f.label :id, "新しいお届け先", {value: '2', style: "display: inline-block;"} %></td>
          </tr>
        </tbody>
      </table>
      <table class="col-lg-10">
        <tbody>
          <tr>
            <td class="col-lg-4 offset-2"><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
            <td><%= f.text_field :postal_code, placeholder: "000000", class:"rounded"  %></td>
          </tr>
          <tr>
            <td class="col-lg-4 offset-2"><%= f.label :address, "住所" %></td>
            <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"rounded col-lg-8"  %></td>
          </tr>
          <tr>
            <td class="col-lg-4 offset-2"><%= f.label :name, "宛名" %></td>
            <td><%= f.text_field :name, placeholder: "令和道子", class:"rounded"  %></td>
          </tr>
        </tbody>
      </table>
      <div class="col-lg-3 offset-5">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
