<h2>商品一覧</h2>
<p>（全<%= @items.count %>件）</p>

<% @items.each do |item| %>
  <div class="field">
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image(200,200) %>
    <% end %><br>
    <%= item.name %><br>
    ¥<%= item.price %>
  </div>
<% end %>