<div class="field">
  <%= image_tag @item.get_image(200,200) %>
</div>

<div class="field">
  <h2><%= @item.name %></h2><br>
  <p><%= @item.introduction %></p>
  <%= @item.with_tax_price.to_s(:delimited) %>（税込）
</div>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
  <%= f.submit 'カートに入れる' , class: 'btn btn-primary' %>
<% end %>