<div class="container mx-auto">
  <div class="row m-5">
    <div class="col-lg-3">
      <%= image_tag @item.get_image(200,200) %>
    </div>
    <div class="col-lg-6">
      <table>
        <tbody>
          <tr>
            <td class="h3 font-weight-bold py-3"><%= @item.name %></td>
          </tr>
          <tr>
            <td class="h5 py-3"><%= @item.introduction %></td>
          </tr>
          <tr>
            <td class="h4 font-weight-bold py-3">¥<%= @item.with_tax_price.to_s(:delimited) %><span class="h6 font-weight-normal">(税込)</span></%></td>
          </tr>
        </tbody>
      </table>
      <div class="col-lg-8">
        <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <div class="d-flex justify-content-center">
            <div class="col-lg-4"><%= f.select :amount, *[1..10], include_blank: "個数選択", class: "col-lg-7 p-1" %></div>
            <div class="col-lg-3"><%= f.submit 'カートに入れる' , class: 'btn btn-success' %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


